@model MVCCore13GenericRepository.ViewModels.Eylemler.EylemEklemeFormVM

@{
    ViewData["Title"] = "Ekle";
}

<h4>Eylem Ekleme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Ekle">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Eylem.EylemAdi" class="control-label"></label>
                <input asp-for="Eylem.EylemAdi" class="form-control" />
                <span asp-validation-for="Eylem.EylemAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eylem.Aciklama" class="control-label"></label>
                <input asp-for="Eylem.Aciklama" class="form-control" />
                <span asp-validation-for="Eylem.Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eylem.PlanlananBitirmeTarihi" class="control-label"></label>
                <input type="date" asp-for="Eylem.PlanlananBitirmeTarihi" class="form-control" />
                <span asp-validation-for="Eylem.PlanlananBitirmeTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eylem.KategoriId" class="control-label"></label>
                <select asp-for="Eylem.KategoriId" asp-items="@Model.Kategoriler" class="form-control"></select>
                <span asp-validation-for="Eylem.KategoriId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eylem.Durum" class="control-label"></label>
                <select asp-for="Eylem.Durum" asp-items="@Model.Durumlar" class="form-control"></select>
                <span asp-validation-for="Eylem.Durum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Listele">Eylemleri Gör</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
