@model MVCCore11IdentityUygulama.ViewModels.Haberler.HaberGuncelleFormVM

@{
    ViewData["Title"] = "HaberGuncelle";
}

<h1>HaberGuncelle</h1>

<h4>HaberGuncelleVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="HaberGuncelle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Haber.HaberId" class="control-label"></label>
                <input asp-for="Haber.HaberId" class="form-control" />
                <span asp-validation-for="Haber.HaberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Haber.Baslik" class="control-label"></label>
                <input asp-for="Haber.Baslik" class="form-control" />
                <span asp-validation-for="Haber.Baslik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Haber.Detay" class="control-label"></label>
                <input asp-for="Haber.Detay" class="form-control" />
                <span asp-validation-for="Haber.Detay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Haber.ResimYolu" class="control-label"></label>
                <input asp-for="Haber.ResimYolu" class="form-control" />
                <span asp-validation-for="Haber.ResimYolu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Haber.KategoriId" class="control-label"></label>
                <input asp-for="Haber.KategoriId" class="form-control" />
                <span asp-validation-for="Haber.KategoriId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
