<a asp-action="Index" asp-controller="Haber" asp-area="" class="btn btn-primary">Haberleri Görüntüle</a>
<a asp-action="EditorHaber" asp-controller="Haber" asp-area="" class="btn btn-primary">Haberlerimi Görüntüle</a>