@using MVCCore7Uygulama.ViewModels
@using MVCCore7Uygulama.ViewModels.Uyeler
@model GirisVM

@{
    ViewData["Title"] = "Giriş Yap";
}

<h1>Giriş Yap</h1>

<form asp-action="GirisYap" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="KullaniciAdi"></label>
        <input asp-for="KullaniciAdi" class="form-control" />
        <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sifre"></label>
        <input type="password" asp-for="Sifre" class="form-control" />
        <span asp-validation-for="Sifre" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Giriş Yap</button>
    <a asp-action="KayitOl" class="btn btn-secondary mt-2">Kayıt Ol</a>
</form>
