@using MVCCore7Uygulama.ViewModels
@using MVCCore7Uygulama.ViewModels.Uyeler
@model KayitVM

@{
    ViewData["Title"] = "Kayıt Ol";
}

<h1>Kayıt Ol</h1>

<form asp-action="KayitOl" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Ad"></label>
        <input asp-for="Ad" class="form-control" />
        <span asp-validation-for="Ad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Soyad"></label>
        <input asp-for="Soyad" class="form-control" />
        <span asp-validation-for="Soyad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="KullaniciAdi"></label>
        <input asp-for="KullaniciAdi" class="form-control" />
        <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sifre"></label>
        <input type="password" asp-for="Sifre" class="form-control" />
        <span asp-validation-for="Sifre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SifreTekrari"></label>
        <input type="password" asp-for="SifreTekrari" class="form-control" />
        <span asp-validation-for="SifreTekrari" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Kayıt Ol</button>
</form>