@model MVCCore15ManyToMany.ViewModels.Kitap.KitapEkleFormVM

@{
    ViewData["Title"] = "Ekle";
}

<h1>Ekle</h1>

<h4>Kitap Ekle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Ekle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Kitap.KitapAdi" class="control-label"></label>
                <input asp-for="Kitap.KitapAdi" class="form-control" />
                <span asp-validation-for="Kitap.KitapAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.Onsoz" class="control-label"></label>
                <textarea asp-for="Kitap.Onsoz" class="form-control"></textarea>
                <span asp-validation-for="Kitap.Onsoz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.SayfaSayisi" class="control-label"></label>
                <input type="number" asp-for="Kitap.SayfaSayisi" class="form-control" />
                <span asp-validation-for="Kitap.SayfaSayisi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.Fiyat" class="control-label"></label>
                <input type="number" asp-for="Kitap.Fiyat" class="form-control" />
                <span asp-validation-for="Kitap.Fiyat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.YazarIdler" class="control-label"></label>
                <select asp-for="Kitap.YazarIdler" asp-items="Model.Yazarlar" class="form-control" multiple></select>
                <span asp-validation-for="Kitap.YazarIdler" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Listele">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
