@model MVCCore_5_Uygulama.ViewModels.KitapEkleFormVM

@{
    ViewData["Title"] = "Ekle";
}

<h1>Ekle</h1>

<h4>Yeni Kitap</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Ekle" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Kitap.KitapAdi" class="control-label">Kitap Adı</label>
                <input asp-for="Kitap.KitapAdi" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Kitap.Fiyat" class="control-label">Fiyat</label>
                <input asp-for="Kitap.Fiyat" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Kitap.SayfaSayisi" class="control-label">Sayfa Sayısı</label>
                <input asp-for="Kitap.SayfaSayisi" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Kitap.BasimSayisi" class="control-label">Basım Sayısı</label>
                <input asp-for="Kitap.BasimSayisi" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Kitap.Ozet" class="control-label">Özet</label>
                <textarea asp-for="Kitap.Ozet" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.YazarId" class="control-label">Yazar</label> @* katmanlı mimari kullandığımızda bu nav prop ları id leriyle kullanmayacağız çünkü örn yazara ait biyografi bilgisi var uzun bir bilgi bunları da taşımış oluyoruz. *@
                <select asp-for="Kitap.YazarId" asp-items="Model.Yazarlar" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.YayineviId" class="control-label">Yayınevi</label>
                <select asp-for="Kitap.YayineviId" asp-items="Model.Yayinevleri" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.KategoriId" class="control-label">Kategori</label>
                <select asp-for="Kitap.KategoriId" asp-items="Model.Kategoriler" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.KapakResmiDosya" class="control-label">Kapak Resmi</label>
                <input asp-for="Kitap.KapakResmiDosya" type="file" class="form-control" />
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-2">
    <a asp-action="Index">Kitap Listesini Gör</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
