<h2>QueryString</h2>
<a href="~/state/detay?id=12&sid=122">Ürün Detayı</a>

<form method="get" asp-action="Detay">
    <input type="text" name="ad" />
    <input type="submit" value="Gönder" />
</form>